@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$snow: hsl(0, 100%, 99%);
$shadow-color: rgba(41, 38, 38, 0.5);
$forest-green-color: hsl(132, 4%, 23%);
$burnt-peach: hsl(14, 74%, 55%);

@mixin raleway {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin montserrat {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin space-mono {
    font-family: "Space Mono", 'Courier New', Courier, monospace;
    font-style: normal;
}

html {
    @include raleway();
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

body {
    min-height: 100%;
    width: 100%;
    background-color: $snow;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .tablet {
        display: none;
    }
}

.container {
    background-color: $snow;
    padding: 1.75rem 3rem;
    border-radius: 10px;
    box-shadow: 0.5rem 0.5rem 2rem $shadow-color;
    opacity: 0.8;
    margin: 1rem auto;

    &.desktop {
        margin: 2rem auto;
    }
}

@media only screen and (max-width: 480px){
    .container {
        padding: 1.25rem 2rem;
    }
}

.input-rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0.75rem 0 0.75rem;
}
h1 {
    @include raleway();
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: $forest-green-color;
}

h2 {
    @include raleway();
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: $forest-green-color
}

h3 {
    @include raleway();
    font-size: 1.25rem;
    font-weight: 400;
    font-style: italic;
}

.question {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5;
    padding-top: 1.25rem;
}


@media only screen and (max-width: 780px) and (orientation: portrait), (max-width: 1024px) and (orientation: landscape){
    main .desktop {display: none;}
    main .tablet {display: block;}
}

//Animations//

.container.desktop.look-here {
    transition: all 1s;
    opacity: 0.6;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
        transform: scale(1.05);
    }
} //This allows the containers to expand and increase in opacity on the hover.

.pulsate {
    opacity: 0.4;
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% { 
        opacity: 0.3;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.3;
    }
}

.anim-typewriter p {
    @include space-mono();
    font-style: normal;
    white-space: nowrap;
    margin: 0 auto;
    overflow: hidden; 
    line-height: 1.5;

    &:first-child {
        animation: typewriter 2.2s steps(44, end);
        animation-fill-mode: forwards;
    }
    &:nth-child(2) {
        opacity: 0;
        animation: typewriter 2.2s steps(44, end);
        animation-fill-mode: forwards;
        animation-delay: 2.5s;
    }
    &:nth-child(3) {
        opacity: 0;
        animation: typewriter 2.2s steps(44, end);
        animation-fill-mode: forwards;
        animation-delay: 5s;

        #type1, #type2{
            animation-delay: 6s};
    }
    &:nth-child(4) {
        opacity: 0;
        animation: typewriter 2.2s steps(44, end);
        animation-fill-mode: forwards;
        animation-delay: 7.5s;
    }
}

@keyframes typewriter {
    0% {
        width: 0;}
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

input[type=text] {
    margin: 2rem auto 1rem;
    padding: 1rem 2rem;
    border: 1px solid $shadow-color;
    border-radius: 5px;
}

input[type=number] {
    margin: 1rem auto 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid $shadow-color;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    }
    .placeholder {
        font-size: 0.8em;
    }
}

input[type=submit] {
    @include raleway();
    font-size: 1.25rem;
    font-weight: 400;
    font-style: italic;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: $snow;
    border: 1px solid transparent;
    color:hsl(132, 4%, 23%);
    cursor: pointer;
}

#type1-input{
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
    animation: appear 3s;
    animation-delay: 7.25s;
    animation-fill-mode: forwards;
}
#dob-please{
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
    animation: appear 5s;
    animation-delay: 7.25s;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {visibility: hidden;}
    1% {
        visibility: visible;
        opacity: 0;
        background-color: transparent;
    }
    100% {
        background-color: transparent;
        visibility: visible;
        opacity: 0.8;}
}

footer {
    position: fixed;
    margin-left: 5%;
    bottom: 5%;
    right: 5%;
    background: transparent;
    color:$snow;
    opacity: 0.05;
    transition: opacity 2s;
    font-style: italic;

    &:hover {opacity: 0.8};
}