@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@mixin raleway {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin montserrat {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin space-mono {
    font-family: "Space Mono", 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 400;
}

html {
    //Default boring colours//
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%) fixed;
    background-blend-mode: soft-light,screen;
    @include raleway();
}