@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: snow;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
}

main {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main .tablet, main .mobile {
  display: none;
}

.container {
  background-color: snow;
  padding: 1.75rem 3rem;
  border-radius: 10px;
  box-shadow: 0.5rem 0.5rem 2rem rgba(41, 38, 38, 0.5);
  opacity: 0.8;
  margin: 1rem auto;
}
.container.desktop {
  margin: 2rem auto;
}
.container.mobile {
  padding: 1rem 1rem;
}

@media only screen and (max-width: 780px) and (orientation: portrait), (max-width: 1024px) and (orientation: landscape) {
  main .desktop {
    display: none;
  }

  main .tablet {
    display: block;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  main .tablet {
    display: none;
  }

  main .desktop {
    display: none;
  }

  main .mobile {
    display: block;
  }
  main .mobile h1 {
    font-size: 2rem;
  }
  main .mobile h3 {
    font-size: 1rem;
  }
}
h1 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  color: #383d39;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  color: #383d39;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-style: normal;
  font-style: normal;
  line-height: 1.5;
}

.bigemoji {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  font-weight: 200;
  color: snow;
  margin-block: 0;
}

.question {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-top: 1.25rem;
}

.container.desktop.look-here {
  transition: all 1s;
  opacity: 0.6;
  cursor: pointer;
}
.container.desktop.look-here:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.pulsate {
  opacity: 0.3;
  animation: pulsate 3s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.anim-typewriter p {
  white-space: nowrap;
  margin: 0 auto;
  overflow: hidden;
}
.anim-typewriter p:first-child {
  animation: typewriter 2.2s steps(44, end);
  animation-fill-mode: forwards;
}
.anim-typewriter p:nth-child(2) {
  opacity: 0;
  animation: typewriter 2.2s steps(44, end);
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}
.anim-typewriter p:nth-child(3) {
  opacity: 0;
  animation: typewriter 2.2s steps(44, end);
  animation-fill-mode: forwards;
  animation-delay: 5s;
}
.anim-typewriter p:nth-child(3) #type1, .anim-typewriter p:nth-child(3) #type2 {
  animation-delay: 6s;
}
.anim-typewriter p:nth-child(4) {
  opacity: 0;
  animation: typewriter 2.2s steps(44, end);
  animation-fill-mode: forwards;
  animation-delay: 7.5s;
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
.input-rows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0.75rem 0 0.75rem;
}

input[type=text] {
  margin: 2rem auto 1rem;
  padding: 1rem 2rem;
  border: 1px solid rgba(41, 38, 38, 0.5);
  border-radius: 5px;
}

input[type=number] {
  margin: 1rem auto 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid rgba(41, 38, 38, 0.5);
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] .placeholder {
  font-size: 0.8em;
}

input[type=submit] {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  font-weight: 400;
  font-style: italic;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: snow;
  border: 1px solid transparent;
  color: #383d39;
  cursor: pointer;
}

#type1-input {
  background-color: transparent;
  visibility: hidden;
  opacity: 0;
  animation: appear 3s;
  animation-delay: 7.25s;
  animation-fill-mode: forwards;
}

#dob-please {
  background-color: transparent;
  visibility: hidden;
  opacity: 0;
  animation: appear 5s;
  animation-delay: 7.25s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
    opacity: 0;
    background-color: transparent;
  }
  100% {
    background-color: transparent;
    visibility: visible;
    opacity: 0.8;
  }
}
@keyframes disappear {
  0% {
    visibility: visible;
    opacity: 0.8;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes slow-appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.progress-container {
  display: none;
}

.progress-text {
  box-sizing: border-box;
  height: 5rem;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  padding-top: 1.25rem;
  opacity: 0.8;
  color: snow;
}

.appear {
  animation: appear 4s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.disappear {
  animation: disappear 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.slow-appear {
  animation: slow-appear 5s;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0% {
    margin-top: 0;
    opacity: 0;
  }
  5% {
    opacity: 0.8;
  }
  28% {
    opacity: 0;
  }
  33% {
    margin-top: -5rem;
  }
  38% {
    opacity: 0.8;
  }
  61% {
    opacity: 0;
  }
  66% {
    margin-top: -10rem;
  }
  71% {
    opacity: 0.8;
  }
  95% {
    opacity: 0;
  }
  100% {
    margin-top: -15rem;
  }
}
footer {
  position: fixed;
  margin-left: 5%;
  bottom: 5%;
  right: 5%;
  background: transparent;
  color: snow;
  opacity: 0.2;
  transition: opacity 2s;
  font-style: italic;
}
footer:hover {
  opacity: 0.8;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (max-width: 780px) and (orientation: portrait), (max-width: 1024px) and (orientation: landscape) {
  footer {
    opacity: 0.3;
  }
}

/*# sourceMappingURL=style.css.map */
